@using Microsoft.AspNetCore.Identity
@model IEnumerable<BOOKLOUD.Models.ApplicationUser>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "User Management";
    Layout = "_Layout";
}
<div class="container p-3">
    <h2>User details</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>User Type</th>
                <th>Controls</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayTextFor(modelItem => item.UserName)</td>
                    <td> @Html.DisplayTextFor(modelItem => item.Email)</td>
                    <td> @Html.DisplayTextFor(modelItem => item.PhoneNumber)</td>
                    <td>
                        @foreach (var role in await UserManager.GetRolesAsync(await UserManager.FindByNameAsync(item.UserName)))
                        {
                            @role
                        }

                    </td>
                    <td>
                        <a asp-route-id="@item.Id">View</a> |
                        <a asp-route-id="@item.Id">Suspend</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>