@model IEnumerable<BookDetailsViewModel>

@{
    ViewBag.Title = "My BookDetailsViewModel";
    Layout = "_Layout";
}
<div class="container pt-3">
    <h2>My BookDetailsDALModelDetailsViewModel</h2>
    <a class="nav-link" asp-controller="MyStore" asp-action="Index"><i class="far fa-arrow-alt-circle-left"></i> Back to My Store.</a>
 <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">BookDetailsDALModelDetailsViewModel Id</th>
                <th scope="col">BookDetailsDALModelDetailsViewModel Name</th>
                <th scope="col">BookDetailsDALModelDetailsViewModel Author</th>
                <th scope="col">Price (AU)</th>
                <th scope="col">View/Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> @Html.DisplayTextFor(modelItem => item.Id)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookName)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookAuthor)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookPrice)</td>
                <td>
                    @Html.ActionLink("EditBook", "EditBooks", new { id = item.Id }) |
                    <a asp-action="ViewBooks" asp-route-id="@item.Id">View</a> |
                    @Html.ActionLink("RemoveBook", "Remove", new { id = item.Id })                
                </td>
            </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
