@model IEnumerable<Book>

@{
    ViewBag.Title = "My Book";
    Layout = "_Layout";
}
<div class="container pt-3">
    <h2>My Book</h2>
    <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="far fa-arrow-alt-circle-left"></i> Back to Home Page.</a>
 <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Book Id</th>
                <th scope="col">Book Name</th>
                <th scope="col">Book Author</th>
                <th scope="col">Price (AU)</th>
                <th scope="col">View/Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> @Html.DisplayTextFor(modelItem => item.Id)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookName)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookAuthor)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookPrice)</td>
                <td> 
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <a asp-action="ViewBooks">View</a>
                    <a class="removeLink" asp-action="DeleteBooks">Remove</a> | 
                    <a asp-action="UpdateBooks">Update</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
