@model BOOKLOUD.Models.Book

@{
    ViewData["Title"] = "Remove";
}
    <div class="container pt-3">
        <h1>Remove Books</h1>

        <h3>Are you sure you want to Remove this book from My Books?</h3>
        <div>
            <h4>Book Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BookName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BookName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BookAuthor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BookAuthor)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BookEdition)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BookEdition)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BookIsbn)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BookIsbn)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UniversityLocation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UniversityLocation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UnitName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UnitName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BookImage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BookImage)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BookPrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BookPrice)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BookDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BookDescription)
                </dd>
            </dl>

            <form asp-action="Remove">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>