@model BOOKLOUD.Models.Book

@{
    ViewBag.Title = "View Book";
    Layout = "_Layout";

}
<div class="container pt-3">
    <h2>View Book</h2>
</div>
<section class="container">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookEdition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookEdition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookIsbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookIsbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniversityLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookDescription)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    </div>
    <br />
    <div>
        <a asp-action="MyBooks"><i class="far fa-arrow-alt-circle-left"></i> Back to MyBooks</a>
    </div>

</section>

