@model ApplicationUser

@{
    ViewBag.Title = "View User";
    Layout = "_Layout";
}
<div class="container p-3">
    <h2>View User</h2>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
               Username :
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
               Firstname :
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
                Last name :
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
                Phone number :
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
                Two-factor status :
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayTextFor(model => model.TwoFactorEnabled)
            </dd>
        </dl>

    </div>
</div>