@model IEnumerable<BOOKLOUD.Models.CourseDetailsModel>

@{
    ViewData["Title"] = "Course Management";
    Layout = "_Layout";
}

    <div class="container p-3">
        <h2>Manage Courses</h2>

        <a asp-controller="ManageCourse" asp-action="AddCourse" class="btn btn-primary mb-3">Create New Course</a>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            <a asp-action="EditCourse" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="CourseInfo" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="DeleteCourse" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="nav-link" asp-controller="AdminPanel" asp-action="Index"><i class="far fa-arrow-alt-circle-left"></i> Back To Admin Panel</a>
    </div>
