@model IEnumerable<BOOKLOUD.Models.UniversityDetailsModel>

@{
    ViewData["Title"] = "University Management";
    Layout = "_Layout";
}

<div class="container p-3">
<h2>University Management</h2>

    <a asp-controller="ManageUniversity" asp-action="AddUniveristy" class="btn btn-primary mb-3">Create New University</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniversityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UniversityName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>